<div class="container">

    <div fxLayout="row wrap" fxLayout.lt-md="column">

        <div fxFlexFill>
          <span fxFlex="50%">{{'LoansAccountP.Repayment2'| translate}}:</span>
          <span fxFlex="50%">{{ loanDetails.transactionProcessingStrategyName }}</span>
        </div>

        <div fxFlexFill>
          <span fxFlex="50%">{{'AccountDetails.Repayment'| translate}}:</span>
          <span fxFlex="50%">{{loanDetails.numberOfRepayments}} every {{loanDetails.repaymentEvery}}&nbsp;{{loanDetails.repaymentFrequencyType.value}}
            <span *ngIf="loanDetails.repaymentFrequencyType?.id == 2 && loanDetails.repaymentFrequencyNthDayType?.id != 0 && loanDetails.repaymentFrequencyDayOfWeekType?.id != 0">
              &nbsp;on&nbsp;{{loanDetails.repaymentFrequencyNthDayType?.value}}&nbsp;{{loanDetails.repaymentFrequencyDayOfWeekType?.value}}
            </span>
            </span>
        </div>

        <div fxFlexFill>
          <span fxFlex="50%"> {{'LoansAccountP.Amortization'| translate}} </span>
          <span fxFlex="50%"> {{loanDetails.amortizationType.value}} </span>
        </div>

        <div fxFlexFill>
          <span fxFlex="50%"> {{'AccountDetails.Equal'| translate}} </span>
          <span fxFlex="50%"> {{loanDetails.isEqualAmortization}} </span>
        </div>

        <div fxFlexFill>
          <span fxFlex="50%"> {{'AccountDetails.Interest'| translate}} </span>
          <span fxFlex="50%"> {{loanDetails.annualInterestRate}} {{'AccountDetails.Per'| translate}} ({{loanDetails.interestRatePerPeriod}}%&nbsp; {{loanDetails.interestRateFrequencyType.value}}) - {{loanDetails.interestType.value}} </span>
        </div>

        <div fxFlexFill>
          <span fxFlex="50%"> {{'AccountDetails.Grace'| translate}}: {{'LoansAccountP.Principal1'| translate}}</span>
          <span fxFlex="50%"> {{loanDetails.graceOnPrincipalPayment}} </span>
        </div>

        <div fxFlexFill>
          <span fxFlex="50%"> {{'AccountDetails.Grace'| translate}}: {{'LoansAccountP.Interest1'| translate}}</span>
          <span fxFlex="50%"> {{loanDetails.graceOnInterestPayment}} </span>
        </div>

        <div fxFlexFill>
          <span fxFlex="50%"> {{'AccountDetails.Grace1'| translate}}</span>
          <span fxFlex="50%"> {{loanDetails.graceOnArrearsAgeing}} </span>
        </div>

        <div fxFlexFill>
          <span fxFlex="50%"> {{'AccountDetails.Fund'| translate}}</span>
          <span fxFlex="50%"> {{loanDetails.fundName}} </span>
        </div>

        <div fxFlexFill>
          <span fxFlex="50%"> {{'LoansAccountP.Free'| translate}}</span>
          <span fxFlex="50%"> {{loanDetails.graceOnInterestCharged}} </span>
        </div>

        <div fxFlexFill>
          <span fxFlex="50%"> {{'LoansAccountP.Calculate'| translate}}</span>
          <span fxFlex="50%"> {{loanDetails.interestCalculationPeriodType.value}} </span>
        </div>

        <div fxFlexFill>
          <span fxFlex="50%"> {{'AccountDetails.Allow'| translate}}</span>
          <span fxFlex="50%"> {{loanDetails.allowPartialPeriodInterestCalcualtion}} </span>
        </div>

        <div fxFlexFill>
          <span fxFlex="50%"> {{'AccountDetails.Interest1'| translate}}</span>
          <span fxFlex="50%"> {{loanDetails.interestType.value}} </span>
        </div>

        <div fxFlexFill>
          <span fxFlex="50%"> {{'LoansAccountP.Submit'| translate}}</span>
          <span fxFlex="50%"> {{loanDetails.timeline.submittedOnDate | date }} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'AccountDetails.Approve'| translate}}</span>
            <span fxFlex="50%"> {{loanDetails.timeline.approvedOnDate | date }} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'AccountDetails.Disburse'| translate}}</span>
            <span fxFlex="50%"> {{loanDetails.timeline.actualDisbursementDate | date }} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'AccountDetails.Mature'| translate}}</span>
            <span fxFlex="50%"> {{loanDetails.timeline.expectedMaturityDate | date }} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.canDefineInstallmentAmount">
            <span fxFlex="50%"> {{'AccountDetails.Fix'| translate}}</span>
            <span fxFlex="50%"> {{loanDetails.fixedEmiAmount | number}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isTopup">
            <span fxFlex="50%"> {{'AccountDetails.Loan'| translate}}?</span>
            <span fxFlex="50%"> {{loanDetails.isTopup}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isTopup">
            <span fxFlex="50%"> {{'AccountDetails.Loan1'| translate}} </span>
            <span fxFlex="50%"> <a href="#">{{loanDetails.closureLoanAccountNo}}</a> </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isTopup">
            <span fxFlex="50%"> {{'AccountDetails.Topup'| translate}}</span>
            <span fxFlex="50%"> {{loanDetails.topupAmount| number}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'AccountDetails.Calculate'| translate}}</span>
            <span fxFlex="50%">  {{loanDetails.isInterestRecalculationEnabled ? 'Yes' : 'No'  }} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'LoansAccountT.Day'| translate}}</span>
            <span fxFlex="50%"> {{loanDetails.daysInYearType.value}} </span>
        </div>

        <div fxFlexFill>
            <span fxFlex="50%"> {{'LoansAccountP.Month'| translate}}</span>
            <span fxFlex="50%"> {{loanDetails.daysInMonthType.value }} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isInterestRecalculationEnabled">
            <span fxFlex="50%"> {{'LoansAccountT.Interest1'| translate}}</span>
            <span fxFlex="50%"> {{loanDetails.interestRecalculationData.interestRecalculationCompoundingType.value}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isInterestRecalculationEnabled">
            <span fxFlex="50%"> {{'AccountDetails.Advance'| translate}}</span>
            <span fxFlex="50%"> {{loanDetails.interestRecalculationData.rescheduleStrategyType.value}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isInterestRecalculationEnabled">
            <span fxFlex="50%"> {{'AccountDetails.Frequency'| translate}}</span>
            <span fxFlex="50%"> {{loanDetails.interestRecalculationData.calendarData.humanReadable}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isInterestRecalculationEnabled && loanDetails.interestRecalculationData.interestRecalculationCompoundingType.id !=0">
            <span fxFlex="50%">  {{'LoansAccountT.Frequency5'| translate}}</span>
            <span fxFlex="50%"> {{loanDetails.interestRecalculationData.compoundingCalendarData.humanReadable}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isVariableInstallmentsAllowed">
            <span fxFlex="50%"> {{'AccountDetails.Variable'| translate}}</span>
            <span fxFlex="50%"> {{loanDetails.isVariableInstallmentsAllowed}} </span>
        </div>

        <div fxFlexFill *ngIf="loanDetails.isVariableInstallmentsAllowed">
            <span fxFlex="50%"> {{'AccountDetails.Gap'| translate}}</span>
            <span fxFlex="50%"> {{loanDetails.minimumGap}}&nbsp;Days&nbsp;, Max:{{loanDetails.maximumGap}}&nbsp;Days) </span>
        </div>

    </div>

</div>
