<form [formGroup]="loansAccountDetailsForm">

  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

    <mat-form-field fxFlex="48%">
      <mat-label>{{'LoansAccountD.Name'| translate}}</mat-label>
      <mat-select formControlName="productId" required>
        <mat-option *ngFor="let product of productData" [value]="product.id">
          {{ product.name }}
        </mat-option>
      </mat-select>
      <mat-error>
        {{'LoansAccountD.Product'| translate}} <strong>{{'LoansAccountD.Required'| translate}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'LoansAccountD.Officer'| translate}}</mat-label>
      <mat-select formControlName="loanOfficerId">
        <mat-option *ngFor="let loanOfficer of loanOfficerOptions" [value]="loanOfficer.id">
          {{ loanOfficer.displayName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'LoansAccountD.Purpose'| translate}}</mat-label>
      <mat-select formControlName="loanPurposeId">
        <mat-option *ngFor="let loanPurpose of loanPurposeOptions" [value]="loanPurpose.id">
          {{ loanPurpose.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'LoansAccountD.Fund'| translate}}</mat-label>
      <mat-select formControlName="fundId">
        <mat-option *ngFor="let fund of fundOptions" [value]="fund.id">
          {{ fund.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'LoansAccountD.Submit'| translate}}</mat-label>
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="submitPicker" required
        formControlName="submittedOnDate">
      <mat-datepicker-toggle matSuffix [for]="submitPicker"></mat-datepicker-toggle>
      <mat-datepicker #submitPicker></mat-datepicker>
      <mat-error *ngIf="loansAccountDetailsForm.controls.submittedOnDate?.hasError('required')">
        {{'LoansAccountD.Submit1'| translate}} <strong>{{'LoansAccountD.Required'| translate}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'LoansAccountD.Disburse'| translate}}</mat-label>
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="disbursementPicker" required
        formControlName="expectedDisbursementDate">
      <mat-datepicker-toggle matSuffix [for]="disbursementPicker"></mat-datepicker-toggle>
      <mat-datepicker #disbursementPicker></mat-datepicker>
      <mat-error *ngIf="loansAccountDetailsForm.controls.submittedOnDate?.hasError('required')">
        {{'LoansAccountD.Disburse1'| translate}}<strong>{{'LoansAccountD.Required'| translate}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'LoansAccountD.Id'| translate}}</mat-label>
      <input matInput formControlName="externalId">
    </mat-form-field>

    <mat-divider fxFlex="98%"></mat-divider>

    <h3 class="mat-h3" fxFlexFill>{{'LoansAccountD.Linkage'| translate}}</h3>

    <mat-form-field fxFlex="48%">
      <mat-label>{{'LoansAccountD.Link'| translate}}</mat-label>
      <mat-select formControlName="linkAccountId">
        <mat-option *ngFor="let savingaccount of accountLinkingOptions" [value]="savingaccount.id">
          {{ savingaccount.productName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox fxFlex="48%" formControlName="createStandingInstructionAtDisbursement">
      <p>{{'LoansAccountD.Create'| translate}}</p>
    </mat-checkbox>

  </div>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious disabled>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      {{'LoansAccountD.Previous'| translate}}
    </button>
    <button mat-raised-button matStepperNext>
      {{'LoansAccountD.Next'| translate}}&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>

</form>
