<div class="container">

  <mat-card>

    <form [formGroup]="assignOfficerForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label> {{'LoansAccountActions.Loan'| translate}}</mat-label>
            <mat-select required formControlName="toLoanOfficerId">
              <mat-option *ngFor="let loanOfficer of loanOfficers" [value]="loanOfficer.id">
                {{ loanOfficer.displayName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="assignOfficerForm.controls.toLoanOfficerId.hasError('required')">
              {{'LoansAccountActions.Officer'| translate}} <strong>{{'LoansAccountActions.Required'| translate}}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'LoansAccountActions.Assign'| translate}}</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="assignOnDatePicker" required
              formControlName="assignmentDate">
            <mat-datepicker-toggle matSuffix [for]="assignOnDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #assignOnDatePicker></mat-datepicker>
            <mat-error *ngIf="assignOfficerForm.controls.assignmentDate.hasError('required')">
              {{'LoansAccountActions.Assign'| translate}} <strong>{{'LoansAccountActions.Required1'| translate}}</strong>
            </mat-error>
          </mat-form-field>

        </div>

        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
          <button type="button" mat-raised-button [routerLink]="['../../general']">{{'LoansAccountActions.Cancel'| translate}}</button>
          <button mat-raised-button color="primary" [disabled]="!assignOfficerForm.valid"
            *mifosxHasPermission="'BULKREASSIGN_LOAN'">{{'LoansAccountActions.Submit'| translate}}</button>
        </mat-card-actions>

      </mat-card-content>

    </form>

  </mat-card>

</div>
