<div class="container">

  <mat-card>

    <form [formGroup]="loanChargeForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">
          <mat-form-field>
            <mat-label>{{'LoansAccountActions.Charge'| translate}}</mat-label>
            <mat-select required formControlName="chargeId">
              <mat-option *ngFor="let loanCharge of loanChargeOptions" [value]="loanCharge.id">
                {{ loanCharge.name + ' (' + loanCharge?.currency.name + ')' }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="loanChargeForm.controls.chargeId.hasError('required')">
              {{'LoansAccountActions.Charge1'| translate}} <strong>{{'LoansAccountActions.Required'| translate}}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'LoansAccountActions.Amount'| translate}}</mat-label>
            <input type=number required matInput formControlName="amount" />
            <mat-error *ngIf="loanChargeForm.controls.amount.hasError('required')">
              {{'LoansAccountActions.Amount1'| translate}} <strong>{{'LoansAccountActions.Required'| translate}}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'LoansAccountActions.Calculate'| translate}}</mat-label>
            <input matInput formControlName="chargeCalculation" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'LoansAccountActions.Time'| translate}}</mat-label>
            <input matInput formControlName="chargeTime" />
          </mat-form-field>

          <mat-form-field *ngIf="loanChargeForm.controls['dueDate']">
            <mat-label>{{'LoansAccountActions.Due'| translate}}</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dueDatePicker" required
              formControlName="dueDate">
            <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #dueDatePicker></mat-datepicker>
            <mat-error *ngIf="loanChargeForm.controls.dueDate.hasError('required')">
              {{'LoansAccountActions.Due1'| translate}} <strong>{{'LoansAccountActions.Required'| translate}}</strong>
            </mat-error>
          </mat-form-field>

        </div>

        <mat-card-actions fxLayoutGap="5px" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
          <button type="button" mat-raised-button [routerLink]="['../../general']">{{'LoansAccountActions.Cancel'| translate}}</button>
          <button mat-raised-button color="primary" [disabled]="!loanChargeForm.valid"
            *mifosxHasPermission="'CREATE_LOANCHARGE'">{{'LoansAccountActions.Submit'| translate}}</button>
        </mat-card-actions>

      </mat-card-content>

    </form>

  </mat-card>

</div>
