<h1 mat-dialog-title>{{'LoansAccountView.Detail'| translate}}</h1>

<div mat-dialog-content fxLayout="column">

  <div fxLayout="row wrap" fxLayout.lt-md="column">

    <div fxFlexFill>
      <span fxFlex="50%">{{'LoansAccountView.FirstN'| translate}}:</span>
      <span fxFlex="50%">{{ data.guarantorData.firstname }}</span>
    </div>

    <div fxFlexFill>
      <span fxFlex="50%">{{'LoansAccountView.LastN'| translate}}:</span>
      <span fxFlex="50%">{{ data.guarantorData.lastname }}</span>
    </div>

    <div fxFlexFill>
      <span fxFlex="50%">{{'LoansAccountView.Relationship'| translate}}:</span>
      <span fxFlex="50%">{{ data.guarantorData.clientRelationshipType.name }}</span>
    </div>

    <div fxFlexFill>
      <span fxFlex="50%">{{'LoansAccountView.Type'| translate}}:</span>
      <span fxFlex="50%">{{ data.guarantorData.guarantorType.value }}</span>
    </div>

    <div fxFlexFill>
      <span fxFlex="50%">{{'LoansAccountView.Status'| translate}}:</span>
      <span fxFlex="50%">
        <span *ngIf="data.guarantorData.status">
          {{'LoansAccountView.Active'| translate}}
        </span>
        <span *ngIf="!data.guarantorData.status">
          {{'LoansAccountView.Delete'| translate}}
        </span></span>
    </div>

  </div>

</div>

<mat-dialog-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
  <button mat-raised-button mat-dialog-close> {{'LoansAccountView.Cancel'| translate}} </button>
</mat-dialog-actions>
